                <div class="formlabel">Contact:</div>
                <div class="formfield">
                    <select name="ContactSelect">
                        @{ string m_Value = ""; }
                        @foreach (var contact in ViewBag.Contacts)
                        {
                            m_Value = contact.id.ToString() + ":" + contact.type;
                            <option value="@m_Value">@contact.firstName @contact.lastName</option>
                        }
                    </select>
                </div>