@{
    ViewBag.Title = "SearchCompany";
    Layout = "~/Views/Shared/KRLayout.cshtml";
}

<div class="header">
    <h1 class="page-title">Search Companies</h1>
</div>

<div class="container-fluid">
    <div class="row-fluid" style="margin-top: 5%">
        <div class="formlabel">Search:</div>
        <div class="formfield"><input type="text" name="filter" value="@ViewBag.Filter" id="filter" /></div>
        <div class="clear">&nbsp;</div>
        <div id="companies" style="width: 100%">
            <table class="table">
                <thead>
                    <tr>
                        <td style="font-weight: bold;">Company Name:</td>
                        <td width="13px;"></td>
                        <td width="13px;"></td>
                    </tr>
                </thead>
                @foreach (var comp in Model)
                {
                    <tr>
                        <td>@comp.Name</td>
                        <td><a href="/Companies/EditCompany/@comp.Id"><i class="icon-pencil" title="Edit" alt="Edit"></i></a></td>
                        <td><i class="icon-remove" title="Delete" alt="Delete"></i></td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        @if (ViewBag.PaginationStart > 1)
                        {
                            @:...&nbsp;&nbsp;
                        }
                        @for (var i = ViewBag.PaginationStart; i <= ViewBag.PaginationEnd; i++)
                        {
                            if(ViewBag.Filter == "")
                            {
                                <a href="/Companies/SearchCompany/@i">@i &nbsp;&nbsp;&nbsp;</a>
                            }
                            else
                            {
                                <a href="/Companies/SearchCompany/@i/@ViewBag.Filter">@i &nbsp;&nbsp;&nbsp;</a>
                            }
                        }
                        @if(ViewBag.PaginationEnd < ViewBag.NumPages)
                        {
                            @: ...
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#filter").keyup(function () {
        //alert("It changed");
        $.ajax({
            type: "POST",
            url: "/Companies/FilterCompanies/1/" + $('#filter').val(),
            success: function (result) { $('#companies').html(result); }
        });
    });
</script>